<!doctype html>
<html lang="en">


<!-- Mirrored from maxartkiller.com/website/finwallapp2/HTML/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2022 16:34:59 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ứng dụng quản lý theo dõi hoạt động đầu tư" />
    <meta name="author" content="">
    <meta name="generator" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logo_3.png">
    <link type="image/x-icon" href="../images/logo_3.png" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="../images/logo_3.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="../images/logo_3.png" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="../images/logo_3.png" sizes="57x57">
    <link rel="apple-touch-icon-precomposed" href="../images/logo_3.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="../images/logo_3.png" sizes="1x1">
    <title>GMG INVESTING</title>

    <!-- manifest meta -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/images/gmg.png" sizes="180x180">
    <link rel="icon" href="/images/gmg.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/images/gmg.png" sizes="16x16" type="image/png">

    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&amp;display=swap" rel="stylesheet">

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- swiper carousel css -->
    <link rel="stylesheet" href="../../app/vendor/swiperjs-6.6.2/swiper-bundle.min.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    
    <!-- style css for this template -->
    <link href="../../app/css/style.css" rel="stylesheet" id="style">
</head>