<div class="container-fluid loader-wrap">
    <div class="row h-100">
        <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto text-center align-self-center">
            <img src="/images/gmg.png" style="width: 50%;" alt="" />
            <p class="mt-4"><span class="text-secondary">Thành công đến từ sự cố gắng và </span><br><strong>Kiên trì...</strong></p>
        </div>
    </div>
</div>