<!doctype html>
<html lang="en">


<!-- Mirrored from maxartkiller.com/website/finwallapp2/HTML/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2022 16:35:30 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>Tin tức</title>

    <!-- manifest meta -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../app/img/favicon180.png" sizes="180x180">
    <link rel="icon" href="../../app/img/favicon32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../../app/img/favicon16.png" sizes="16x16" type="image/png">

    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&amp;display=swap" rel="stylesheet">

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- swiper carousel css -->
    <link rel="stylesheet" href="../../app/vendor/swiperjs-6.6.2/swiper-bundle.min.css">

    <!-- style css for this template -->
    <link href="../../app/css/style.css" rel="stylesheet" id="style">
</head>

<body class="body-scroll" data-page="blog">

    <!-- loader section -->
    <div class="container-fluid loader-wrap">
        <div class="row h-100">
            <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto text-center align-self-center">
                <div class="d" style="margin-left: auto; margin-right: auto; width: 70%;">
                    <div class="card_i">
                        <div class="face front"><img src="https://chotoancau.vn/uploads/2_2.png" alt=""></div>
                        <div class="face back"><img src="https://chotoancau.vn/uploads/2_2.png" alt=""></div>
                    </div>
                </div>
                <p class="mt-4"><span class="text-secondary">Thành công đến từ sự cố gắng và </span><br><strong>Kiên trì...</strong></p>
            </div>
        </div>
    </div>
    <style>
        .d{
            perspective: 600px;
        }
    
        .card_i {
            width: 200px;
            height: 100px;
            position: relative;
            transform-style: preserve-3d;
            animation: flip 1s linear infinite;
            transition: transform 1s;
        }
    
        .face {
            position: absolute;
            backface-visibility: hidden;
            width: 200px;
            height: 100px;
            font-weight: bold;
            font-size: 20px;
        }
    
        .front {
        }
    
        .back {
            transform: rotateY(180deg);
        }
        @keyframes flip {
    
            100% {
                transform: rotateY(360deg)
            }
        }
    </style>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <!-- <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i>
                    </a>
                </div> -->
                <div class="col" style="text-align: left !important;">
                    <div class="logo-small">
                        <img src="/images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Tin tức</h5>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <!-- Content text -->
            <h5>Công Ty Cổ Phần Tập Đoàn Chợ Toàn Cầu</h5>
            <p>Website của chúng tôi: https://chotoancau.vn/</p>
            <br>
            <h6>Tên gọi đầy đủ: CÔNG TY CỔ PHẦN TẬP ĐOÀN CHỢ TOÀN CẦU</h6>
            <h6>Tên tiếng Anh: GLOBAL MARKET GROUP JOINT STOCK COMPANY</h6>
            <h6>Tên công ty viết tắt:  GMG.JSC</h6>
            <p>Địa chỉ trụ sở chính: LK 31& LK 32, ngõ 1 Phố Lâm Hạ, P. Bồ Đề, Q. Long Biên, TP Hà Nội.</p>
            <p>Giấy chứng nhận đăng ký kinh doanh của Công ty Cổ phần Tập đoàn Chợ Toàn Cầu
                Số: 2802772702 đăng ký thay đổi lần 3, ngày cấp: 06/07/2022 do Sở Kế hoạch Đầu tư thành phố Hà Nội cấp.</p>
            <h6>Điện thoại: 0243.8622.555</h6>
            <p>Email: info@chotoancau.vn</p>
            <h6>Các dịch vụ cung cấp:</h6>
            <p>1. Tư vấn đầu tư, khảo sát, thiết kế, đấu thầu, giám sát, thi công các công trình xây dựng dân dụng, công nghiệp, giao thông, thuỷ lợi, hạ tầng kỹ thuật. 
                Các công trình triển khai xây dựng đã khẳng định uy tín, thương hiệu, hiệu quả kinh doanh của Công ty Cổ phần Tập đoàn Chợ Toàn Cầu.</p>
            <p>2. Trực tiếp đầu tư các dự án và một số hoạt động kinh doanh khác, tuân thủ theo quy định của pháp luật, đầu tư xây dựng, quản lý và kinh doanh các dự án.</p>
            <p>3. Cung cấp và kết nối các tiểu thương, các doanh nghiệp, các Hợp tác xã trong nước và quốc tế thúc đẩy giao thương hàng hóa.</p>
            <h6>Sứ mệnh</h6>
            <p>- Khôi phục, phát triển và nâng cao hiệu quả hoạt động chợ truyền thống.</p>
            <p>- Kiến tạo các mô hình chợ kiểu mới an toàn, hiện đại, văn minh, đậm đà bản sắc dân tộc.</p>
            <p>- Phát huy lợi ích, kết nối tiểu thương và người tiêu dùng trên phạm vi toàn quốc.</p>
            <h6>Tầm nhìn</h6>
            <p>- Công ty Cổ phần Tập đoàn Chợ Toàn Cầu hoạt động đa ngành, đa nghề ở trong nước và ngoài nước, phát triển bền vững lâu dài, 
                duy trì và phát triển thương hiệu có sức cạnh tranh trong nước và quốc tế. Đến năm 2025 là đơn vị hàng đầu trong việc xây dựng, 
                phát triển và nâng cao hiệu quả hoạt động chợ truyền thống trên cả nước, kết nối đầu tư, xây dựng chợ ra ngoài nước.</p>
            <p>- Luôn đổi mới, sáng tạo, kiến tạo hệ sinh thái, làm nền tảng cho sự phát triển của tiểu thương, người tiêu dùng Việt Nam, hướng tới sự thịnh vượng của các địa phương và đất nước.</p>
            <h5>Triết lý kinh doanh</h5>
            <p>Tạo giá trị - Gửi niềm tin</p>
            <h5>Giá trị cốt lõi</h5>
            <p>- Tư duy: Đổi mới - Sáng tạo - Hiệu quả</p>
            <p>- Tinh thần: Đoàn kết - Hợp tác - Chia sẻ</p>
            <p>- Hành động: Trách nhiệm - Tôn trọng đối tác - Cùng có lợi</p>
            <p>- Kết quả: Phát triển - Bền vững - Thành công</p>
            <br>
        </div>
        <!-- main page content ends -->
        <footer class="footer">
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="/app/login">
                            <span>
                                <i class="nav-icon bi bi-newspaper"></i>
                                <span class="nav-text">Tin tức</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/app/about">
                            <span>
                                <i class="nav-icon bi bi-bookmark"></i>
                                <span class="nav-text">Giới thiệu</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item centerbutton" style="-webkit-transform: rotate(-45deg);">
                        <a class="nav-link active" href="/app/login">
                            <span class="theme-radial-gradient">
                                <i class="bi bi-house size-22"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/faq">
                            <span>
                                <i class="nav-icon bi bi-question-circle"></i>
                                <span class="nav-text">FAQ</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/contact">
                            <span>
                                <i class="nav-icon bi bi-envelope"></i>
                                <span class="nav-text">Liên hệ</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
    <!-- Page ends-->


    <!-- Required jquery and libraries -->
    <script src="../../app/js/jquery-3.3.1.min.js"></script>
    <script src="../../app/js/popper.min.js"></script>
    <script src="../../app/vendor/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <!-- Customized jquery file  -->
    <script src="../../app/js/main.js"></script>
    <script src="../../app/js/color-scheme.js"></script>

    <!-- PWA app service registration and works -->
    <script src="../../app/js/pwa-services.js"></script>

    <!-- Chart js script -->
    <script src="../../app/vendor/chart-js-3.3.1/chart.min.js"></script>

    <!-- Progress circle js script -->
    <script src="../../app/vendor/progressbar-js/progressbar.min.js"></script>

    <!-- swiper js script -->
    <script src="../../app/vendor/swiperjs-6.6.2/swiper-bundle.min.js"></script>

    <!-- page level custom script -->
    <script src="../../app/js/app.js"></script>

</body>


<!-- Mirrored from maxartkiller.com/website/finwallapp2/HTML/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2022 16:35:31 GMT -->
</html>