<!doctype html>
<html lang="en">


<!-- Mirrored from maxartkiller.com/website/finwallapp2/HTML/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2022 16:35:30 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>Tin tức</title>

    <!-- manifest meta -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../app/img/favicon180.png" sizes="180x180">
    <link rel="icon" href="../../app/img/favicon32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../../app/img/favicon16.png" sizes="16x16" type="image/png">

    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&amp;display=swap" rel="stylesheet">

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- swiper carousel css -->
    <link rel="stylesheet" href="../../app/vendor/swiperjs-6.6.2/swiper-bundle.min.css">

    <!-- style css for this template -->
    <link href="../../app/css/style.css" rel="stylesheet" id="style">
</head>

<body class="body-scroll" data-page="blog">

    <!-- loader section -->
    <div class="container-fluid loader-wrap">
        <div class="row h-100">
            <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto text-center align-self-center">
                <div class="d" style="margin-left: auto; margin-right: auto; width: 70%;">
                    <div class="card_i">
                        <div class="face front"><img src="https://chotoancau.vn/uploads/2_2.png" alt=""></div>
                        <div class="face back"><img src="https://chotoancau.vn/uploads/2_2.png" alt=""></div>
                    </div>
                </div>
                <p class="mt-4"><span class="text-secondary">Thành công đến từ sự cố gắng và </span><br><strong>Kiên trì...</strong></p>
            </div>
        </div>
    </div>
    <style>
        .d{
            perspective: 600px;
        }
    
        .card_i {
            width: 200px;
            height: 100px;
            position: relative;
            transform-style: preserve-3d;
            animation: flip 1s linear infinite;
            transition: transform 1s;
        }
    
        .face {
            position: absolute;
            backface-visibility: hidden;
            width: 200px;
            height: 100px;
            font-weight: bold;
            font-size: 20px;
        }
    
        .front {
        }
    
        .back {
            transform: rotateY(180deg);
        }
        @keyframes flip {
    
            100% {
                transform: rotateY(360deg)
            }
        }
    </style>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <!-- <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i>
                    </a>
                </div> -->
                <div class="col" style="text-align: left !important;">
                    <div class="logo-small">
                        <img src="/images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Tin tức</h5>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <!-- Banner FAQs -->
            <div class="row mb-4 position-relative py-5 bg-theme">
                <div class="col-10 col-md-6 col-lg-4 mx-auto align-self-center">
                    <h5 class="text-center mb-2">Các câu hỏi thường gặp</h5>
                    <p class="text-center text-muted">Tìm kiếm danh mục lựa chọn và câu hỏi mong muốn của bạn.</p>
                </div>
            </div>
            <!-- Question list -->
            <div class="row mb-3">
                <div class="col">
                    <h6 class="mb-0">Danh sách câu hỏi</h6>
                </div>
            </div>
            <div class="accordion accordion-flush shadow-sm mb-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Làm thế nào để đầu tư
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">
                            Để đầu tư vào các dự án của công ty bạn có thể thông qua sale tư vấn làm hợp đồng hợp tác đầu tư hoặc đến địa chỉ 
                            trụ sở chính của công ty là LK 31& LK 32, ngõ 1 Phố Lâm Hạ, P. Bồ Đề, Q. Long Biên, TP Hà Nội để trực tiếp được tư vấn 
                            và ký hợp đồng hợp tác đầu tư.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Mức đầu tư tối thiểu là bao nhiêu?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Mức đầu tư tối thiểu để đầu tư là 10.000.000 đồng.
                            Với mức lợi nhuận hấp dẫn và các chính sách ưu đãi thì đầu tư bất động sản chợ là một nơi đầu tư đầy lợi nhuận.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Lợi nhuận được chi trả như thế nào?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Lợi nhuận sau khi ký kết hợp đồng hợp tác đầu tư sẽ được chi trả vào ngày 15 hàng tháng với mức lợi nhuận đã 
                            cam kết trong hợp đồng hợp tác đầu tư. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main page content ends -->
        <footer class="footer">
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="/app/login">
                            <span>
                                <i class="nav-icon bi bi-newspaper"></i>
                                <span class="nav-text">Tin tức</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/about">
                            <span>
                                <i class="nav-icon bi bi-bookmark"></i>
                                <span class="nav-text">Giới thiệu</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item centerbutton" style="-webkit-transform: rotate(-45deg);">
                        <a class="nav-link active" href="/app/login">
                            <span class="theme-radial-gradient">
                                <i class="bi bi-house size-22"></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/faq">
                            <span>
                                <i class="nav-icon bi bi-question-circle"></i>
                                <span class="nav-text">FAQ</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/contact">
                            <span>
                                <i class="nav-icon bi bi-envelope"></i>
                                <span class="nav-text">Liên hệ</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
    <!-- Page ends-->


    <!-- Required jquery and libraries -->
    <script src="../../app/js/jquery-3.3.1.min.js"></script>
    <script src="../../app/js/popper.min.js"></script>
    <script src="../../app/vendor/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <!-- Customized jquery file  -->
    <script src="../../app/js/main.js"></script>
    <script src="../../app/js/color-scheme.js"></script>

    <!-- PWA app service registration and works -->
    <script src="../../app/js/pwa-services.js"></script>

    <!-- Chart js script -->
    <script src="../../app/vendor/chart-js-3.3.1/chart.min.js"></script>

    <!-- Progress circle js script -->
    <script src="../../app/vendor/progressbar-js/progressbar.min.js"></script>

    <!-- swiper js script -->
    <script src="../../app/vendor/swiperjs-6.6.2/swiper-bundle.min.js"></script>

    <!-- page level custom script -->
    <script src="../../app/js/app.js"></script>

</body>


<!-- Mirrored from maxartkiller.com/website/finwallapp2/HTML/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2022 16:35:31 GMT -->
</html>