<div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left">
          <div class="dashboard_bar">
          </div>
        </div>
        <ul class="navbar-nav header-right">
          <li class="nav-item">
            <a href="">Ví</a>
          </li>
          <li class="nav-item">
            <a href="">Đầu tư</a>
          </li>
          <li class="nav-item">
            <a href=""><i class="lni lni-user"></i></a>
          </li>
          <li class="nav-item">
            <a href=""><i class="lni lni-alarm"></i></a>
          </li>
          <li class="nav-item">
            <a href="">Tải xuống</a>
          </li>
          <li class="nav-item">
            <a href="">Ngôn ngữ</a>
          </li>
          <li class="nav-item">
            <a href=""><i class="lni lni-night"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>