<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="/tong-quan/<%= user._id %>" aria-expanded="true">
                    <i class="lni lni-user"></i>
                    <span class="nav-text">Tổng quan</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/dau-tu/<%= user._id %>" aria-expanded="false">
                    <i class="lni lni-investment"></i>
                    <span class="nav-text">Đầu tư</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/bao-mat/<%= user._id %>" aria-expanded="false">
                    <i class="lni lni-protection"></i>
                    <span class="nav-text">Bảo mật</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="lni lni-license"></i>
                    <span class="nav-text">Xác minh</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/cai-dat/<%= user._id %>" aria-expanded="false">
                    <i class="lni lni-cog"></i>
                    <span class="nav-text">Cài đặt</span>
                </a>
            </li>
        </ul>
    </div>
</div>