<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="/tong-quan" aria-expanded="true">
                    <i class="lni lni-user"></i>
                    <span class="nav-text">Tổng quan</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/bao-mat" aria-expanded="false">
                    <i class="lni lni-protection"></i>
                    <span class="nav-text">Bảo mật</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="lni lni-license"></i>
                    <span class="nav-text">Xác minh danh tính</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="/cai-dat" aria-expanded="false">
                    <i class="lni lni-cog"></i>
                    <span class="nav-text">Cài đặt</span>
                </a>
            </li>
        </ul>
    </div>
</div>