<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Trang chủ</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Dự Án</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void()">Tất cả các dự án</a></li>
                    <li><a href="javascript:void()">Dự án miền Bắc</a></li>
                    <li><a href="javascript:void()">Dự án miền Trung</a></li>
                    <li><a href="javascript:void()">Dự án miền Nam</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Thống kê</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="javascript:void()">Đầu tư</a></li>
                    <li><a href="javascript:void()">Lợi nhuận</a></li>
                    <li><a href="javascript:void()">Lịch sử giao dịch</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void()" class="ai-icon" aria-expanded="true">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Cài đặt chung</span>
                </a>
            </li>
        </ul>
    </div>
</div>