<%- include ../layouts/header.ejs %>
    <% if (user) { %>
        <!-- Begin page -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="layout-width">
                    <%- include ../layouts/menu.ejs %>
                </div>
            </header>
            <!-- ========== App Menu ========== -->
            <%- include ../layouts/nav.ejs %>
                <!-- Left Sidebar End -->
                <!-- Vertical Overlay-->
                <div class="vertical-overlay"></div>

                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="h-100">
                                        <div class="row mb-3 pb-1">
                                            <div class="col-12">
                                                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                                    <div class="flex-grow-1">
                                                        <h4 class="fs-16 mb-1">Tin tức tổng hợp!</h4>
                                                    </div>
                                                </div><!-- end card header -->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div> <!-- end .h-100-->
                                </div> <!-- end col -->
                                <div class="row">
                                    <div class="col-6" style="padding-bottom: 10px;">
                                        <div class="card ribbon-box border shadow-none mb-lg-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <div class="ribbon ribbon-success ribbon-shape">Tin mới</div>
                                                        <img src="https://chotoancau.vn/uploads/news/2022_08/1.jpg" width="100%" height="250px" alt="">
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="ribbon-content text-muted mt-4">
                                                            <p style="color: black; font-weight: 600;">Triển khai huy động nguồn lực xã hội hóa thông qua phương thức đầu tư theo hình thức đối tác công - tư tại tỉnh Quảng Ninh</p>
                                                            <p class="mb-0">Đầu tư theo hình thức đối tác công - tư đã bắt đầu được nghiên cứu
                                                                 và đưa vào ứng dụng tại Việt Nam từ những năm 90 của thế kỷ XX, tuy nhiên, 
                                                                 kết quả đạt được còn hạn chế bởi chủ yếu mới chỉ được thực hiện trong lĩnh vực 
                                                                 giao thông, vận tải theo hình thức triển khai BOT và BOO, trong khi các quốc gia 
                                                                 khác đã mở rộng hình thức này sang rất nhiều lĩnh vực.</p>
                                                            <hr>
                                                            <a href="https://chotoancau.vn/thong-tin-kinh-te-xa-hoi/trien-khai-huy-dong-nguon-luc-xa-hoi-hoa-thong-qua-phuong-thuc-dau-tu-theo-hinh-thuc-doi-tac-cong-tu-tai-tinh-quang-ninh-40.html" class="btn btn-soft-success">Xem thêm</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding-bottom: 10px;">
                                        <div class="card ribbon-box border shadow-none mb-lg-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <div class="ribbon ribbon-success ribbon-shape">Tin mới</div>
                                                        <img src="https://chotoancau.vn/uploads/news/2022_08/image-20220829135954-1.jpeg" width="100%" height="250px" alt="">
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="ribbon-content text-muted mt-4">
                                                            <p style="color: black; font-weight: 600;">Hội nghị khách hàng khu vực miền Nam: Giải pháp hợp tác đầu tư kinh doanh Bất động sản hiệu quả.</p>
                                                            <p class="mb-0">Để góp phần giúp nhà đầu tư và khách hàng nhận diện rõ về triển vọng cũng như những cơ hội mới 
                                                                của thị trường bất động sản, ngày 28/08/2022 Công ty Cổ phần Tập đoàn Chợ Toàn Cầu đã tổ chức Hội nghị
                                                                 khách hàng khu vực miền Nam với chủ đề “Giải pháp hợp tác đầu tư kinh doanh bất động sản hiệu quả” 
                                                                 tại lầu 7 Winter Place – Trung Tâm Hội nghị tiệc cưới Western, số 443 – 445 Lê Hồng Phong, Phường 2,
                                                                  Quận 10, Tp.Hồ Chí Minh.</p>
                                                            <hr>
                                                            <a href="https://chotoancau.vn/tin-hoat-dong/hoi-nghi-khach-hang-khu-vuc-mien-nam-giai-phap-hop-tac-dau-tu-kinh-doanh-bat-dong-san-hieu-qua-45.html" class="btn btn-soft-success">Xem thêm</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding-bottom: 10px;">
                                        <div class="card ribbon-box border shadow-none mb-lg-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <div class="ribbon ribbon-success ribbon-shape">Tin mới</div>
                                                        <img src="https://chotoancau.vn/uploads/news/2022_08/img_5516.jpg" width="100%" height="250px" alt="">
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="ribbon-content text-muted mt-4">
                                                            <p style="color: black; font-weight: 600;">Hội nghị khách hàng khu vực miền Bắc: Giải pháp hợp tác đầu tư kinh doanh Bất động sản hiệu quả.</p>
                                                            <p class="mb-0">Sáng ngày 14/08/2022 Công ty CP Tập đoàn Chợ Toàn Cầu đã tổ chức thành công 
                                                                Hội nghị khách hàng khu vực miền Bắc với chủ đề Giải pháp Hợp tác đầu tư kinh doanh 
                                                                Bất động sản hiệu quả tại Trung tâm Tổ chức sự kiện & Tiệc cưới Trống Đồng Palace - Số 489 Hoàng Quốc Việt, 
                                                                Cổ Nhuế, Bắc Từ Liêm, Hà Nội. Với tầm nhìn trở thành đơn vị hàng đầu trong việc xây dựng, phát triển và 
                                                                nâng cao hiệu quả hoạt động chợ truyền thống trên toàn quốc.</p>
                                                            <hr>
                                                            <a href="https://chotoancau.vn/tin-hoat-dong/hoi-nghi-khach-hang-khu-vuc-mien-bac-giai-phap-hop-tac-dau-tu-kinh-doanh-bat-dong-san-hieu-qua-41.html" class="btn btn-soft-success">Xem thêm</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->
                </div>
                <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->



        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

        <div class="customizer-setting d-none d-md-block">
            <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas"
                data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
            </div>
        </div>
        <% } %>
            <%- include ../layouts/footer.ejs %>